html{
    scroll-behavior: smooth;
}


.informacion{
    background-color: azure;
    width: 100%;
}

section > div {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pasatiempos{
    background-color: #fff;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.juegos-favoritos{
    background-color: royalblue;
    width: 100%;
}